form.form(
  action="mailto:neil.desplats@gmail.com?subject=Contact from portfolio",
  method="post",
  enctype="text/plain"
)
  h2.form__title Send me an email
  .form__component
    input#name.form__input(type="text", placeholder="Name", name="name")
    label.form__label(for="name") Name
  .form__component
    input#email.form__input(type="email", placeholder="Email", name="email")
    label.form__label(for="email") Email
  .form__component
    textarea#message.form__input.form__area(
      placeholder="Your message",
      name="message"
    )
    label.form__label(for="message") Your message
  .form__component
    button.form__button(type="submit") Submit
